<div class="container-div">  
    <form [formGroup]="searchForm">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h6> <a (click)="back()" *ngIf="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp;
                    <strong>View Reservation</strong>                 
                </h6>
            </div>        
        </div>

        <div class="row" *ngIf="createReservationDetails">
            <div class="col-12">      

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="officeId">Building</label>
                        <select formControlName="office" class="form-control" id="type">
                            <option *ngFor="let office of createReservationDetails.officeList" [ngValue]="office">
                                {{ office.name }}
                            </option>                        
                        </select>                       
                    </div> 
                    
                    <div class="form-group col-md-3">
                        <label for="floor">Floor </label>
                        <select formControlName="floor" class="form-control" id="type">
                            <option *ngFor="let floor of (searchForm.value.office ? searchForm.value.office.floorList : [])" [ngValue]="floor">
                                {{ floor.name }}
                            </option>                        
                        </select>                       
                    </div>                     
                </div>

        
                <div class="form-row">                   
                    <div class="form-group col-md-3">
                        <label for="officeId">Date</label>
                        <div class="input-group">   
                         <input type="text"
                            formControlName="startDate"
                            placeholder="Date"
                            [minDate]="minDate"
                            class="form-control"
                            [bsConfig]="{ rangeInputFormat : 'DD/MM/YYYY h:mm a', dateInputFormat: 'DD/MM/YYYY'}"
                            bsDatepicker
                            >
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon"> <i class="fa fa-calendar" aria-hidden="true"></i> </div>
                            </div>
                         </div>
                    </div>                                         
                </div>

                <button type="submit" [disabled]="!searchForm.valid" (click)="viewReservations(searchForm.value)" class="btn btn-info"> <i class="fas fa-search"></i> View</button>                    

            </div>       
        </div>

        <table class="table table-striped" *ngIf="reservationList && reservationList.length > 0">
            <thead>
            <tr>                    
              <th scope="col">#</th>              
              <th scope="col">Floor</th>
              <th scope="col">Zone</th>          
              <th scope="col">Seat Number</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Booking Date</th>                        
            </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let reservation of reservationList;  let i = index ">             
                <th scope="row">{{i+1}}</th>                
                <td>{{reservation.floorName}}</td>
                <td>{{reservation.zoneName}}</td>
                <td>{{reservation.seatNumber}}</td>
                <td>{{reservation.employeeName}}</td>
                <td>{{reservation.startDate | date: 'dd/MM/yy'}}</td>                            
              </tr>  
            </tbody>
          </table>

    </form>
  </div>
  