<div [ngClass]="getSideBarState()? 'dashboard' : 'dashboard-compact'">
  <app-sidebar></app-sidebar>
  <div class='dashboard-app'>
      <header class='dashboard-toolbar'><a class="menu-toggle" (click)="toggleSidebar()"><i class="fas fa-bars"></i></a>
        <a class="brand-logo"><i class="fas fa-table"></i> <span>SAT</span></a>
      </header>      
      <div class="container-body">     
          <app-loader></app-loader>
          <app-alert></app-alert>
          <router-outlet></router-outlet>        
      </div>      
  </div>
</div>
