<h1>Reservation History</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="seatNo">
      <th mat-header-cell *matHeaderCellDef> Seat No.</th>
      <td mat-cell *matCellDef="let element"> {{element.seatNumber}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="assignedTo">
      <th mat-header-cell *matHeaderCellDef> Assigned To </th>
      <td mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Comment </th>
        <td mat-cell *matCellDef="let element"> {{element.comment || '-'}} </td>
      </ng-container>
       <!-- Symbol Column -->
     <ng-container matColumnDef="OECode">
        <th mat-header-cell *matHeaderCellDef> OE Code </th>
        <td mat-cell *matCellDef="let element"> {{element.oeCode}} </td>
      </ng-container>
       <!-- Symbol Column -->
     <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Cancel</th>
        <td mat-cell *matCellDef="let element">
            <button class= "btn btn-lg btn-block" (click)="cancelBooking()"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

